@import url(../fonts/aileron-font/Aileron-Italic.otf);
@font-face {
    font-family: 'Aileron';
    src: url(../fonts/aileron-font/Aileron-Italic.otf);
}

body{
    font-family: Aileron;
    background-color:#c8dbf5be;
    background-attachment: fixed;
}

.bienvenida{
    margin-top:35px;
    background: rgb(255,255,255);
    background: linear-gradient(-180deg, rgba(255,255,255,0.39539565826330536) 0%, rgba(0,212,255,0.11248249299719892) 100%);
    height: 80vh;
    border-radius: 15px;
    border: solid 2px rgba(255, 255, 255, 0.445);
}

.contenido{
    display: flex;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
.imagen{
    margin-right:auto;
    margin-left:auto ;
    padding: 5px;
    width: 95%;
    position:relative ;
}
p{
    position: absolute;
    top:50%;
    right: 5%;

}